html {
    width: 100vw;
}

.mainContent {
    margin: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.mainContent > div{
    width: 100%;
}

.mainContent > div > div{
    text-align: center;
    margin: 0 auto;
}

.nav-bar{
    display: flex;
    flex-direction: column;
}

.nav-bar ul {
    background-color: rgb(10, 36, 19);
    list-style-type: none;
    margin: 0;
    
}

.nav-bar li{
    float: left;
}

.nav-bar  ul  li  a {
    padding: 20px;
    text-decoration: none;
    color: black;
}

.nav-bar, .footerfirst  ul li  a:hover{
    color: #084894;

}

.footerfirst ul li{
    list-style-type: none;
    float: left;
}

ul li{
    list-style-type: none;
    
}

.footerfirst ul li:not(:last-child):after{
    content: "|";
    color: rgb(87, 87, 87);
    
}

.footerfirst ul li a{
    text-decoration: none;
    color: black;
    padding: 10px;
}

.wrap{
   clear: both;
   margin: 0%;
   width: 100%;
   
   
}

.row1 {
    display: flex;
    width: 100%;

}

.row1 > div{
    /* background-color: blueviolet; */
    text-align: center;
    margin: 0 ;
    
    flex-grow: 1;
    flex-basis: 0;
}

.row2{
    position: absolute;
    bottom: 0px;
    background-color: rgb(110, 110, 105);
    width: 100%;
    padding: 0px 50px;
    height : 50px;
    
}

.row2 li{
    float: right;
    padding: 10px;
  
}


.row2 li a{
    color : black;
    text-decoration: none;
}